
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: url(../img/f3.jpg) no-repeat center fixed;
    overflow: hidden;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    width: 300px;
    height: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    transition: all 0.3s;
    .poster {
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            bottom: -200px;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0) 70%, transparent);
            transition: 0.5s;
        }
        img {
            object-fit: cover;
            width: 100%;
            transition: 0.5s;
        }
    }
    .details {
        position: absolute;
        padding: 20px;
        width: 100%;
        height: 85%;
        bottom: -200px;
        left: 0;
        transition: 0.5s;
        z-index: 2;
        .imgContent {
            color: #fff;
            margin: 0;
            padding: 0;
            font-size: 20px;
            text-align: start;
            img  {
                width: 70%;
            }
            span {
                font-size: 14px;
                color: rgba(253, 253, 252);
            }
        }
        .rating {
            position: relative;
            padding: 5px 0;
            .fa, .far {
                color: #f7f406;
                margin-right: 2px;
                font-size: 16px;
            }
            span {
                color: #fff;
                padding: 0 50px;

            }
        }
    }
}